body {
text-align: center;
font-family: 'Mali', cursive;
background-color:white;
background-image:url(../../img/bg_big2.jpg);
background-size: 100%;
background-repeat: no-repeat;
color: white;
padding-top: 120px;
}
.rem10 {
  font-size: 1rem;
}
